<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://www.tatacliq.com/favicon.ico" type="png" />
    <title>Shopping Cart - Tata CLiQ</title>
    <link rel="stylesheet" href="./style/navbar.css" />
  </head>
  <style>
    body {
      background-color: rgb(209, 209, 209);
    }
    h1 {
      width: 100%;
      background-color: #fff;
      padding: 17px 0;
      padding-left: 34px;
    }

    img {
      width: 120px;
      height: 120px;
      margin: 20px;
    }

    .product {
      width: 60%;
      min-height: 200px;
    }

    .box-2 {
      width: 80%;
      height: 250px;
      display: flex;
      background-color: #fff;
      border-radius: 5px;
      margin: 30px;
      display: flex;
      align-items: center;
    }

    p {
      display: inline-block;
      margin-right: 15px;
      margin-top: 15px;
    }

    .second {
      text-decoration: line-through;
      color: rgb(129, 129, 129);
    }

    .remove {
      font-size: 16px;
      border-top: 1px solid black;
      margin-top: 12px;
      padding-top: 5px;
      cursor: pointer;
    }

    .bf {
      display: inline-block;
      width: 30px;
      padding: 5px 0;
      background-color: rgb(214, 197, 197);
      margin: 2px;
      margin-top: 10px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }

    .payment {
      text-align: center;
      margin-top: 30px;
      width: 360px;
      height: 420px;
      margin-right: 60px;
      background-color: #fff;
      border-radius: 5px;
      position: fixed;
      z-index: 100;
      right: 0;
      top: 180px;
    }

    .main {
      display: flex;
    }

    .firstp {
      margin: 10px;
      padding-bottom: 10px;
      border-bottom: 2.5px dotted rgb(206, 204, 204);
    }

    .secondp {
      text-align: left;
      padding-left: 30px;
      padding-right: 30px;
    }

    .flex1 {
      display: flex;
      justify-content: space-between;
    }

    .final {
      margin-top: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(156, 155, 155);
    }

    .total {
      display: flex;
      justify-content: space-between;
    }

    .checkout {
      width: 150px;
      height: 40px;
      border-radius: 20px;
      background-color: rgb(255, 23, 68);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: bold;
    }
  </style>
  <body>
    <div id="navbar"></div>
    <h1>My Bag</h1>
    <div class="main">
      <div class="product"></div>
      <div class="payment">
        <div class="firstp">
          Some items in your order are eligible<br />
          for
          <span style="color: green; font-size: 16px; font-weight: bold"
            >FREE</span
          >
          Shipping! Check
          <span
            style="color: rgb(235, 29, 63); font-size: 16px; font-weight: bold"
            >cart <br />
            summary</span
          >
          for the final amount
        </div>

        <div class="secondp">
          <div class="flex1">
            <p>Bag Total</p>
            <p class="price">0</p>
          </div>
          <div class="flex1">
            <p>Shipping Charge</p>
            <p class="ship">0</p>
          </div>
          <div class="flex1">
            <p>Bag Subtotal</p>
            <p class="sub">0</p>
          </div>
          <div class="flex1">
            <p>Product Discount(s)</p>
            <p class="dis">0</p>
          </div>
          <div class="final">
            <p style="color: green">
              You will save <span class="dis2">0</span> on this order
            </p>
            <!-- Product Discount(s) -->
          </div>

          <div class="total">
            <div>
              <p>Total</p>
              <p class="totalPrice">0</p>
            </div>
            <a href="/checkout"><p class="checkout">Checkout</p></a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/script/navmain.js" type="module"></script>
</html>

<script>
  let arr = JSON.parse(localStorage.getItem("cart_data")) || [];
  console.log(arr);

  display(arr);

  document.querySelector(".ship").textContent = "₹" + " " + shipping;
  function display(arr) {
    let shipping = 49;
    let sum = 0;
    let subSum = 0;
    document.querySelector(".product").innerHTML = "";
    arr.map(function (elm, ind) {
      // let sum = arr[ind].mainPrice.reduce((prev, curr) =>
      //     Number(prev) + Number(curr),0)
      // console.log(arr[ind].mainPrice)

      sum += Number(arr[ind].mainPrice);
      subSum += Number(arr[ind].discontPrice);
      console.log(sum);
      const div1 = document.createElement("div");
      div1.setAttribute("class", "box-2");
      const img = document.createElement("img");
      img.src = elm.image;
      const para1 = document.createElement("div");
      const para2 = document.createElement("p");
      const para3 = document.createElement("p");
      const remove = document.createElement("div");
      const bf = document.createElement("div");
      bf.setAttribute("class", "bf");
      bf.innerHTML = "-";
      const bs = document.createElement("div");
      bs.setAttribute("class", "bf");
      let count = 1;
      const bt = document.createElement("div");
      bs.textContent = count;
      bt.setAttribute("class", "bf");
      bt.textContent = "+";

      bt.addEventListener("click", function () {
        count++;
        sum += arr[ind].mainPrice;
        subSum += arr[ind].discontPrice;
        document.querySelector(".price").textContent = "₹" + " " + sum;
        document.querySelector(".totalPrice").textContent =
          "₹" + " " + (subSum + shipping);
        document.querySelector(".sub").textContent =
          "₹" + " " + (sum + shipping);
        document.querySelector(".dis").textContent =
          "-₹" + " " + (subSum - sum);
        document.querySelector(".dis2").textContent =
          "-₹" + " " + (subSum - sum);
        // console.log(count)
        bs.textContent = count;
      });

      bf.addEventListener("click", function () {
        if (count == 1) {
          arr.splice(ind, 1);
          localStorage.setItem("cart_data", JSON.stringify(arr));
          display(arr);
          sum -= arr[ind].mainPrice;
          subSum -= arr[ind].discontPrice;
          bs.textContent = 0;
        } else {
          count--;
          sum -= arr[ind].mainPrice;
          subSum -= arr[ind].discontPrice;
          document.querySelector(".price").textContent = "₹" + " " + sum;
          document.querySelector(".totalPrice").textContent =
            "₹" + " " + (subSum + shipping);
          document.querySelector(".sub").textContent =
            "₹" + " " + (sum + shipping);
          document.querySelector(".dis").textContent =
            "₹" + " " + (subSum - sum);
          document.querySelector(".dis2").textContent =
            "₹" + " " + (subSum - sum);
          bs.textContent = count;
        }
      });
      const div2 = document.createElement("div");

      remove.addEventListener("click", function () {
        arr.splice(ind, 1);
        localStorage.setItem("cart_data", JSON.stringify(arr));
        display(arr);
      });

      remove.setAttribute("class", "remove");
      remove.innerText = "Remove";

      div2.append(para1, para2, para3, remove, bf, bs, bt);
      para1.innerText = elm.description;
      para3.innerText = "₹" + Number(elm.mainPrice);
      para3.setAttribute("price", "main");
      para2.innerText = "₹" + Number(elm.discontPrice);
      para2.setAttribute("class", "second");

      div1.append(img, div2);
      document.querySelector(".product").append(div1);
    });
    document.querySelector(".price").textContent = "₹" + " " + sum;
    document.querySelector(".totalPrice").textContent =
      "₹" + " " + (subSum + 49);
    document.querySelector(".sub").textContent = "₹" + " " + (sum + shipping);
    document.querySelector(".dis").textContent = "₹" + " " + (subSum - sum);
    document.querySelector(".dis2").textContent = "₹" + " " + (subSum - sum);

    if (arr.length == 0) {
      shipping = 0;
      document.querySelector(".ship").textContent = "₹" + " " + shipping;
      document.querySelector(".totalPrice").textContent = "₹" + " " + 0;
      // return;
    } else {
      shipping = 49;
      document.querySelector(".ship").textContent = "₹" + " " + shipping;
    }
  }

  document.querySelector(".totalPrice").textContent =
    "₹" + " " + (subSum + shipping);
</script>
