<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="https://www.tatacliq.com/favicon.ico" type="png" />
  <title>Shopping Cart - Tata CLiQ</title>
  <link rel="stylesheet" href="./style/navbar.css" />
</head>
<style>
  body {
    background-color: rgb(209, 209, 209);
  }

  h1 {
    width: 100%;
    background-color: #fff;
    padding: 17px 0;
    padding-left: 34px;
  }

  img {
    width: 120px;
    height: 120px;
    margin: 20px;
  }

  .product {
    width: 60%;
    min-height: 200px;
  }

  .box-2 {
    width: 80%;
    height: 250px;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    margin: 30px;
    display: flex;
    align-items: center;
  }

  .secondp p,
  .product p {
    display: inline-block;
    margin-right: 15px;
    margin-top: 15px;
  }

  .second {
    text-decoration: line-through;
    color: rgb(129, 129, 129);
  }

  .remove {
    font-size: 16px;
    border-top: 1px solid black;
    margin-top: 12px;
    padding-top: 5px;
    cursor: pointer;
  }

  .bf {
    display: inline-block;
    width: 30px;
    padding: 5px 0;
    background-color: rgb(214, 197, 197);
    margin: 2px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  .payment {
    text-align: center;
    margin-top: 30px;
    width: 360px;
    height: 420px;
    margin-right: 60px;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    z-index: 100;
    right: 0;
    top: 180px;
  }

  .main {
    display: flex;
  }

  .firstp {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 2.5px dotted rgb(206, 204, 204);
  }

  .secondp {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
  }

  .flex1 {
    display: flex;
    justify-content: space-between;
  }

  .final {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(156, 155, 155);
  }

  .total {
    display: flex;
    justify-content: space-between;
  }

  .checkout {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(255, 23, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: bold;
    text-align: center;
    /* display: inline-block; */
    margin-right: 15px;
    padding-top: 10px;
  }

  #toast-container {
    position: fixed;
    right: 20px;
    top: 100px;
    max-width: 300px;
    z-index: 9999;
  }

  .toast {
    background-color: purple;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
  }

  /* Add styles to center the empty cart image and message */
  #emptyCartImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 500px;
  }

  #emptyCartImageContainer img {
    width: 500px;
    height: 350px;
    object-fit: cover;
  }

  #emptyCartImageContainer p {
    font-size: 25px;
    color: red;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-left: 200px;
    text-align: center;
  }

  /* Adjust layout when cart is empty */
  #productContainer {
    display: flex;
    flex-direction: column;
  }

  #emptyCartImageContainer {
    display: none;
    /* Initially hide the empty cart message */
  }

  #continuebtn {
    background-color: #ff1744;
    padding: 20px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 20px;
    border: none;
    margin-left: 200px;
  }

  #continuebtn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
</style>

<body>
  <div id="navbar"></div>
  <h1>My Bag</h1>
  <div id="toast-container"></div>
  <div class="main">
    <div class="product" id="productContainer"></div>
    <div id="emptyCartImageContainer">
      <img src="https://as2.ftcdn.net/v2/jpg/01/02/71/19/1000_F_102711930_V8YtaT6QNjVF8ftHk2pmlKRhakLw1cyN.jpg"
        alt="Empty Bag Image" />
      <div>
        <p>Your Cart is Empty</p>
      </div>
      <button id="continuebtn">Continue Shopping</button>
    </div>
    <div class="payment">
      <div class="firstp">
        Some items in your order are eligible<br />
        for
        <span style="color: green; font-size: 16px; font-weight: bold">FREE</span>
        Shipping! Check
        <span style="color: rgb(235, 29, 63); font-size: 16px; font-weight: bold">cart <br />
          summary</span>
        for the final amount
      </div>

      <div class="secondp">
        <div class="flex1">
          <p>Bag Total</p>
          <p class="price">0</p>
        </div>
        <div class="flex1">
          <p>Shipping Charge</p>
          <p class="ship">0</p>
        </div>
        <div class="flex1">
          <p>Bag Subtotal</p>
          <p class="sub">0</p>
        </div>
        <div class="flex1">
          <p>Product Discount(s)</p>
          <p class="dis">0</p>
        </div>
        <div class="final">
          <p style="color: green">
            You will save <span class="dis2">0</span> on this order
          </p>
          <!-- Product Discount(s) -->
        </div>

        <div class="total">
          <div>
            <p>Total</p>
            <p class="totalPrice">0</p>
          </div>
          <a href="/checkout">
            <p class="checkout">Checkout</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/script/navmain.js" type="module"></script>

</html>

<script>
  function showToast(message) {
    const toastContainer = document.getElementById("toast-container");
    const toast = document.createElement("div");
    toast.classList.add("toast");
    toast.innerText = message;
    toastContainer.appendChild(toast);

    setTimeout(() => {
      toast.remove();
    }, 3000); // Adjust the time (in milliseconds) for how long the toast is displayed
  }
  let arr = JSON.parse(localStorage.getItem("cart_data")) || [];
  display(arr);

  function display(arr) {
    let shipping = 49;
    let sum = 0;
    let subSum = 0;
    document.querySelector(".product").innerHTML = "";
    arr.map(function (elm, ind) {
      if (elm) {
        sum += Number(arr[ind].mainPrice) * Number(arr[ind].quantity);
        subSum += Number(arr[ind].discontPrice) * Number(arr[ind].quantity);
        console.log(sum);
        const div1 = document.createElement("div");
        div1.setAttribute("class", "box-2");
        const img = document.createElement("img");
        img.src = elm.image;
        const para1 = document.createElement("div");
        const para2 = document.createElement("p");
        const para3 = document.createElement("p");
        const remove = document.createElement("div");
        const bf = document.createElement("div");
        bf.setAttribute("class", "bf");
        bf.innerHTML = "-";
        const bs = document.createElement("div");
        bs.setAttribute("class", "bf");
        let count = elm.quantity;
        const bt = document.createElement("div");
        bs.textContent = count;
        bt.setAttribute("class", "bf");
        bt.textContent = "+";

        bt.addEventListener("click", function () {
          count++;
          console.log("chekin", count, arr);
          sum += Number(arr[ind].mainPrice);
          subSum += Number(arr[ind].discontPrice);
          document.querySelector(".price").textContent = "₹" + " " + sum;
          document.querySelector(".totalPrice").textContent =
            "₹" + " " + (subSum + 49);
          document.querySelector(".sub").textContent = "₹" + " " + (sum + 49);
          document.querySelector(".dis").textContent =
            "₹" + " " + (subSum - sum);
          document.querySelector(".dis2").textContent =
            "₹" + " " + -(subSum - sum);
          bs.textContent = count;
          arr[ind].quantity = count;
          localStorage.setItem("cart_data", JSON.stringify(arr));
          showToast("Product Quantity increased from the cart!");
        });

        bf.addEventListener("click", function () {
          if (count == 1) {
            arr.splice(ind, 1);
            localStorage.setItem("cart_data", JSON.stringify(arr));
            display(arr);
            sum -= Number(arr[ind].mainPrice);
            subSum -= Number(arr[ind].discontPrice);
            bs.textContent = 0;
          } else {
            count--;
            sum -= Number(arr[ind].mainPrice);
            subSum -= Number(arr[ind].discontPrice);
            document.querySelector(".price").textContent = "₹" + " " + sum;
            document.querySelector(".totalPrice").textContent =
              "₹" + " " + (subSum + 49);
            document.querySelector(".sub").textContent =
              "₹" + " " + (sum + shipping);
            document.querySelector(".dis").textContent =
              "₹" + " " + (subSum - sum);
            document.querySelector(".dis2").textContent =
              "₹" + " " + -(subSum - sum);
            bs.textContent = count;
            arr[ind].quantity = count;
            localStorage.setItem("cart_data", JSON.stringify(arr));
            showToast("Product Quantity decreased from the cart!");
          }
        });
        const div2 = document.createElement("div");

        remove.addEventListener("click", function () {
          arr.splice(ind, 1);
          localStorage.setItem("cart_data", JSON.stringify(arr));
          showToast("Product Removed from the cart!");
          display(arr);
        });

        remove.setAttribute("class", "remove");
        remove.innerText = "Remove";

        div2.append(para1, para2, para3, remove, bf, bs, bt);
        para1.innerText = elm.description;
        para3.innerText = "₹" + Number(elm.mainPrice);
        para3.setAttribute("class", "second");
        para2.innerText = "₹" + Number(elm.discontPrice);
        para2.setAttribute("price", "main");

        div1.append(img, div2);
        document.querySelector(".product").append(div1);
      }
    });
    document.querySelector(".price").textContent = "₹" + " " + sum;
    document.querySelector(".totalPrice").textContent =
      "₹" + " " + (subSum + 49);
    document.querySelector(".sub").textContent = "₹" + " " + (sum + 49);
    document.querySelector(".dis").textContent = "₹" + " " + (subSum - sum);
    document.querySelector(".dis2").textContent = "₹" + " " + -(subSum - sum);
    let productContainer = document.getElementById("productContainer");
    let emptyCartImage = document.getElementById("emptyCartImageContainer");
    if (arr.length === 0) {
      productContainer.style.display = "none"; // Hide product container
      emptyCartImage.style.display = "block"; // Show empty cart image
      shipping = 0;
      document.querySelector(".ship").textContent = "₹" + " " + shipping;
      document.querySelector(".totalPrice").textContent = "₹" + " " + 0;
      document.querySelector(".sub").textContent = "₹" + " " + shipping;
      // return;
    } else {
      productContainer.style.display = "block"; // Show product container
      emptyCartImage.style.display = "none"; // Hide empty cart image
      shipping = 49;
      document.querySelector(".ship").textContent = "₹" + " " + shipping;
    }
    document
      .querySelector("#continuebtn")
      .addEventListener("click", function () {
        window.location.href = "/products";
      });
  }
</script>