<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/navbar.css" />
    <link rel="icon" href="https://www.tatacliq.com/favicon.ico" type="png" />
    <title>
      Online Fashion & Lifestyle Shopping for Women, Men & Kids in India - Tata
      CLiQ
    </title>
  </head>
  <body>
    <div id="navbar"></div>
  </body>
  <script src="./components/navbar.js" type="module"></script>
  <script src="./components/navmain.js" type="module"></script>
</html>
