<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://www.tatacliq.com/favicon.ico" type="png" />
    <title>
      Online Fashion & Lifestyle Shopping for Women, Men & Kids in India - Tata
      CLiQ
    </title>
    <style>
      div {
        margin: 50px auto;
        background-image: url("https://cdn.dribbble.com/users/6223146/screenshots/14957773/media/e9924843d8284c053d84bedd6661f752.png");
        width: 80%;
        height: 450px;
        background-color: aqua;
        background-position: center;
      }
    </style>
  </head>
  <body>
    <a href="/home"><div></div></a>
  </body>
</html>
